/* ==UserStyle==
@name         GitLab Dark
@description  A dark theme for GitLab.
@namespace    gitlab.com/unlogic/gitlab-dark
@author       maxigaz
@homepageURL  https://gitlab.com/unlogic/gitlab-dark
@version      0.6.5
==/UserStyle== */

@-moz-document url-prefix("http://gitlab"), domain("gitlab.com"), domain("framagit.org")
{
	body {
		background-color: #383c4a;
		color: #e4e4e4;
	}
	
	.main {
	    background: #383c4a;
	}
	
	.blockquote {
	    background-color: #141d24;
	}
	
	.file-editor .nav-links {
	    border-top: 1px solid #1b1b1b;
        border-right: 1px solid #1b1b1b;
        border-left: 1px solid #1b1b1b;
        border-bottom: 0;
        border-radius: 2px 2px 0 0;
        background: #3e4352;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #f5f5f5;
	}

	.btn {
		background-color: #3f4353;
		border-color: #1b1b1b;
		color: #e4e4e4;
	}

	.btn:hover, .btn:active, .btn:focus {
		background-color: #474b5d;
		border-color: #1b1b1b;
		color: #e4e4e4;
	}

	.btn:hover:active, .btn:focus:active {
		background-color: #474b5d;
		border-color: #1b1b1b;
		box-shadow: inset 0 0 10px 10px rgba(0,0,0,.2);
		color: #e4e4e4;
	}

	hr {
		border-color: #292c36;
	}

	a {
		color: #2596ff;
	}
	
	a:hover, a:active, a:focus {
		color: #23baff;
	}

	.avatar:not([href]):hover {
		border-color: #292c36;
	}

	/* Inline code */

	code {
		background-color: #24272a;
		color: #e2e2e2;
	}

	.gfm-color_chip {
		background-color: #414654;
		background-image: linear-gradient(135deg, #414654 25%, transparent 0%, transparent 75%, #414654 0%),linear-gradient(135deg, #414654 25%, transparent 0%, transparent 75%, #414654 0%);
	}

	/* ===== Nav bar ===== */

	.navbar-gitlab {
		border-bottom-color: #1b1b1b;
	}

	body.ui_indigo .navbar-gitlab {
		background-color: #3e4352;
	}

	body.ui_indigo .navbar-gitlab .navbar-sub-nav {
		color: #eee;
	}

	body.ui_indigo .navbar-gitlab .nav > li.active > a, body.ui_indigo .navbar-gitlab .nav > li.dropdown.open > a {
		background-color: #8f9bbd;
	}

	.projects-dropdown-container .project-dropdown-sidebar {
		border-color: #292c36;
	}

	.projects-dropdown-container .section-header, .projects-dropdown-container .projects-list-frequent-container li.section-empty, .projects-dropdown-container .projects-list-search-container li.section-empty {
		color: #efefef;
	}

	.projects-list-item-container .project-namespace {
		color: #a3a3a3;
	}

	.header-user .dropdown-menu-nav {
		color: #e4e4e4;
	}

	.dropdown-menu li a:not(.disable-hover):hover .avatar, .dropdown-menu li .participants-more .btn-link:not(.disable-hover):hover .avatar, .participants-more .dropdown-menu li .btn-link:not(.disable-hover):hover .avatar, .dropdown-menu li .user-list-more .btn-link:not(.disable-hover):hover .avatar, .user-list-more .dropdown-menu li .btn-link:not(.disable-hover):hover .avatar, .dropdown-menu li a:active .avatar, .dropdown-menu li a:focus .avatar, .dropdown-menu li a.is-focused .avatar, .dropdown-menu li button:not(.disable-hover):hover .avatar, .dropdown-menu li button:active .avatar, .dropdown-menu li button:focus .avatar, .dropdown-menu li button.is-focused .avatar, .dropdown-menu li .menu-item:not(.disable-hover):hover .avatar, .dropdown-menu li .menu-item:active .avatar, .dropdown-menu li .menu-item:focus .avatar, .dropdown-menu li .menu-item.is-focused .avatar, .dropdown-menu-nav li a:not(.disable-hover):hover .avatar, .dropdown-menu-nav li .participants-more .btn-link:not(.disable-hover):hover .avatar, .participants-more .dropdown-menu-nav li .btn-link:not(.disable-hover):hover .avatar, .dropdown-menu-nav li .user-list-more .btn-link:not(.disable-hover):hover .avatar, .user-list-more .dropdown-menu-nav li .btn-link:not(.disable-hover):hover .avatar, .dropdown-menu-nav li a:active .avatar, .dropdown-menu-nav li a:focus .avatar, .dropdown-menu-nav li a.is-focused .avatar, .dropdown-menu-nav li button:not(.disable-hover):hover .avatar, .dropdown-menu-nav li button:active .avatar, .dropdown-menu-nav li button:focus .avatar, .dropdown-menu-nav li button.is-focused .avatar, .dropdown-menu-nav li .menu-item:not(.disable-hover):hover .avatar, .dropdown-menu-nav li .menu-item:active .avatar, .dropdown-menu-nav li .menu-item:focus .avatar, .dropdown-menu-nav li .menu-item.is-focused .avatar {
		border-color: #292c36;
	}

	.has-location-badge.search.search-form.search-active form {
		background-color: #6a6e82;
		box-shadow: 0 0 5px #4096ff;
		transition: box-shadow 0.15s;
	}

	.has-location-badge.search.search-form.search-active form input {
		color: #fff;
	}

	.has-location-badge.search.search-form.search-active form input::placeholder {
		color: rgba(209,209,240,0.8);
	}

	.has-location-badge.search.search-form.search-active .location-badge {
		color: #ebebfa;
	}

	/* ===== Nav bar (GitLab.com, EE 11.0) ===== */

	body.ui-indigo .navbar-gitlab {
		background-color: #3e4352;
	}

	body.ui-indigo .navbar-gitlab .navbar-sub-nav {
		color: #eee;
	}

	.header-user .dropdown-menu {
		color: #e4e4e4;
	}
	
	.gitlab-tabs {
	    background: #313541;
	}
	
	.navlinks li a {
	    color: #858586;
	}

	/* ===== Sidebar ===== */

	.nav-sidebar {
		background-color: #3f4353;
		box-shadow: inset -2px 0 0 #292c37,2px 1px 3px rgba(0,0,0,0.1);
	}

	.context-header a {
		color: #eeeeee;
	}

	.context-header:hover, .context-header a:hover, .context-header .participants-more .btn-link:hover, .participants-more .context-header .btn-link:hover, .context-header .user-list-more .btn-link:hover, .user-list-more .context-header .btn-link:hover {
		color: #eeeeee;
	}

	body.ui_indigo .nav-sidebar li.active {
			box-shadow: inset 4px 0 0 #4096ff;
	}

	body.ui_indigo .nav-sidebar li.active > a {
		color: #eeeeee;
	}

	.nav-sidebar li a {
		color: #d3d3d3;
	}

	.sidebar-sub-level-items > li a:hover, .sidebar-sub-level-items > li .participants-more .btn-link:hover, .participants-more .sidebar-sub-level-items > li .btn-link:hover, .sidebar-sub-level-items > li .user-list-more .btn-link:hover, .user-list-more .sidebar-sub-level-items > li .btn-link:hover, .sidebar-sub-level-items > li a:focus {
		color: #eeeeee;
	}

	.sidebar-top-level-items > li > a:hover, .participants-more .sidebar-top-level-items > li > .btn-link:hover, .user-list-more .sidebar-top-level-items > li > .btn-link:hover {
		color: #eeeeee;
	}

	.nav-icon-container svg {
		fill: #bebebe !important;
	}

	.nav-icon-container svg:hover {
		fill: #eee !important;
	}

	.toggle-sidebar-button, .close-nav-button {
		background-color: #3f4353;
		border-color: #313541;
		color: #e4e4e4;
	}

	.toggle-sidebar-button:hover, .close-nav-button:hover {
		background-color: #383b4a;
		color: #eeeeee;
	}

	.nav-sidebar:not(.sidebar-collapsed-desktop) {
		box-shadow: inset -2px 0 0 #292c37,2px 1px 3px rgba(0,0,0,0.1);
	}

	.avatar {
		background-color: #292c36;
	}

	.avatar-circle, .avatar, .avatar-container {
		border-color: #292c36;
	}

	.context-header .avatar-container {
		background-color: #292c36;
	}

	/* Number of issues, merge requests etc. */

	.sidebar-top-level-items > li .badge.badge-pill, .sidebar-top-level-items > li .shortcut-mappings .key, .shortcut-mappings .sidebar-top-level-items > li .key {
		color: #d3d3d3;
	}

	body.ui-indigo .sidebar-top-level-items > li.active .badge.badge-pill, body.ui-indigo .sidebar-top-level-items > li.active .shortcut-mappings .key, .shortcut-mappings body.ui-indigo .sidebar-top-level-items > li.active .key {
		color: #eee;
	}
    
    .merge-request-tabs-container {
        background-color: #383c4a;
    }
    
    .limit-container-width .merge-request-tabs-container .inner-page-scroll-tabs {
        background-color: #383c4a;
    }
    
    .mr-state-widget {
        color: #f2f2f2;
    }
    
    .mr-source-target {
        background-color: #383c4a;
    }

	/* ===== Sidebar (GitLab.com, EE 11.0) ===== */

	body.ui-indigo .nav-sidebar li.active {
			box-shadow: inset 4px 0 0 #4096ff;
	}

	body.ui-indigo .nav-sidebar li.active > a {
		color: #eeeeee;
	}

	.toggle-sidebar-button .collapse-text, .toggle-sidebar-button .icon-angle-double-left, .toggle-sidebar-button .icon-angle-double-right {
		color: #e4e4e4;
	}

	/* Hover menu */

	.sidebar-top-level-items > li.is-showing-fly-out .sidebar-sub-level-items {
		background-color: #3f4353;
		border-color: #1b1b1b;
	}

	.sidebar-top-level-items .fly-out-list li {
		background-color: #3f4353;
	}
	
	.fly-out-top-item {
		background-color: #3d4050;
	}

	.sidebar-top-level-items > li.is-showing-fly-out .sidebar-sub-level-items a:hover, .sidebar-top-level-items > li.is-showing-fly-out .sidebar-sub-level-items .participants-more .btn-link:hover, .participants-more .sidebar-top-level-items > li.is-showing-fly-out .sidebar-sub-level-items .btn-link:hover, .sidebar-top-level-items > li.is-showing-fly-out .sidebar-sub-level-items .user-list-more .btn-link:hover, .user-list-more .sidebar-top-level-items > li.is-showing-fly-out .sidebar-sub-level-items .btn-link:hover, .sidebar-top-level-items > li.is-showing-fly-out .sidebar-sub-level-items a:focus {
		background-color: #383b4a;
		color: #eee;
	}

	.sidebar-top-level-items > li.is-showing-fly-out .sidebar-sub-level-items a {
		color: #e4e4e4;
	}

	.dropdown-divider, .divider {
		border-color: #484c5f;
	}

	/* ===== Group pages ===== */

	/* members */
	.group-list-tree .group-row-contents:hover {
		background-color: #44495a;
	}

	/* ===== Project page, showing README ===== */

	/* Between top nav bar and file nav */

	.breadcrumbs-links {
		color: #a3a3a3;
	}

	.breadcrumbs-sub-title a {
		color: #dadada;
	}

	.breadcrumbs-links .avatar-tile {
		border-color: #292c36;
	}

	.project-repo-buttons .btn, .group-buttons .btn {
		background-color: #3f4353;
		border-color: #1b1b1b;
		color: #e4e4e4;
	}

	.project-repo-buttons .btn:hover, .project-repo-buttons .btn:focus, .group-buttons .btn:hover, .group-buttons .btn:focus {
		background-color: #474b5d;
		border-color: #1b1b1b;
		color: #e4e4e4;
	}

	.project-repo-buttons .count-with-arrow .count, .group-buttons .count-with-arrow .count {
		background-color: #383c4a;
		border-color: #1b1b1b;
		color: #e4e4e4;
	}

	.project-repo-buttons .count-with-arrow .arrow::before, .group-buttons .count-with-arrow .arrow::before {
		border-right-color: #1b1b1b;
	}

	.project-repo-buttons .count-with-arrow .arrow::after, .group-buttons .count-with-arrow .arrow::after {
		border-right-color: #383c4a;
	}

	.project-repo-buttons .count-with-arrow .count:hover, .project-repo-buttons .count-with-arrow .count:focus, .group-buttons .count-with-arrow .count:hover, .group-buttons .count-with-arrow .count:focus {
		background-color: #383c4a;
		border-color: #1b1b1b;
		color: #e4e4e4;
	}

	.git-clone-holder .form-control, .git-clone-holder .search form, .search .git-clone-holder form {
		background-color: #383c4a;
		border-color: #1b1b1b;
		color: #e4e4e4;
	}

	.project-stats .nav .stat-text, .project-stats .nav .stat-link {
		color: #bababa;
	}

	.project-stats .nav .stat-link:hover, .project-stats .nav .stat-link:focus {
		color: #eeeeee;
	}

	.btn-missing, .project-stats .nav .btn-missing {
		color: #e4e4e4;
		border-color: #1b1b1b;
	}

	.btn-missing:hover, .project-stats .nav .btn-missing:hover, .btn-missing:active, .project-stats .nav .btn-missing:active, .btn-missing:focus, .project-stats .nav .btn-missing:focus {
		background-color: #474b5d;
		color: #e4e4e4;
	}

	.project-repo-buttons .btn .fa, .group-buttons .btn .fa {
		color: #e4e4e4;
	}

	.project-repo-buttons .btn svg, .group-buttons .btn svg {
		fill: #e4e4e4;
	}

	.breadcrumbs-container {
		border-color: #404555;
	}

	.project-home-panel, .group-home-panel {
		border-color: #404555;
	}

	.project-stats {
		border-color: #404555;
	}

	.banner-callout.banner-non-empty-state {
		border-color: #404555;
	}

	/* Tree nav */

	.dropdown-toggle, .dropdown-menu-toggle {
		background-color: #383c4a;
		border-color: #1b1b1b;
		color: #e4e4e4;
	}

	.dropdown-toggle:hover, .dropdown-menu-toggle:hover, .dropdown-toggle:active, .dropdown-menu-toggle:active, .dropdown-toggle:focus, .dropdown-menu-toggle:focus {
		border-color: #4096ff;
	}

	.open .dropdown-toggle, .open .dropdown-menu-toggle, .open .dropdown-menu-toggle {
		border-color: #4096ff;
	}

	.dropdown-menu, .dropdown-menu-nav {
		background-color: #383c4a;
		border-color: #1b1b1b;
	}

	.dropdown-menu .dropdown-header, .dropdown-menu-nav .dropdown-header {
		color: #e4e4e4;
	}

	.dropdown-input-field, .default-dropdown-input {
		color: #e4e4e4;
	}

	.dropdown-menu-selectable li a.is-indeterminate, .dropdown-menu-selectable li a.is-active, .dropdown-menu-selectable li button.is-indeterminate, .dropdown-menu-selectable li button.is-active {
		color: #e4e4e4;
	}

	.dropdown-menu li a:not(.disable-hover):hover, .dropdown-menu li .participants-more .btn-link:not(.disable-hover):hover, .participants-more .dropdown-menu li .btn-link:not(.disable-hover):hover, .dropdown-menu li .user-list-more .btn-link:not(.disable-hover):hover, .user-list-more .dropdown-menu li .btn-link:not(.disable-hover):hover, .dropdown-menu li a:active, .dropdown-menu li a:focus, .dropdown-menu li a.is-focused, .dropdown-menu li button:not(.disable-hover):hover, .dropdown-menu li button:active, .dropdown-menu li button:focus, .dropdown-menu li button.is-focused, .dropdown-menu li .menu-item:not(.disable-hover):hover, .dropdown-menu li .menu-item:active, .dropdown-menu li .menu-item:focus, .dropdown-menu li .menu-item.is-focused, .dropdown-menu-nav li a:not(.disable-hover):hover, .dropdown-menu-nav li .participants-more .btn-link:not(.disable-hover):hover, .participants-more .dropdown-menu-nav li .btn-link:not(.disable-hover):hover, .dropdown-menu-nav li .user-list-more .btn-link:not(.disable-hover):hover, .user-list-more .dropdown-menu-nav li .btn-link:not(.disable-hover):hover, .dropdown-menu-nav li a:active, .dropdown-menu-nav li a:focus, .dropdown-menu-nav li a.is-focused, .dropdown-menu-nav li button:not(.disable-hover):hover, .dropdown-menu-nav li button:active, .dropdown-menu-nav li button:focus, .dropdown-menu-nav li button.is-focused, .dropdown-menu-nav li .menu-item:not(.disable-hover):hover, .dropdown-menu-nav li .menu-item:active, .dropdown-menu-nav li .menu-item:focus, .dropdown-menu-nav li .menu-item.is-focused {
		background-color: #474b5d;
		color: #e4e4e4;
	}

	.breadcrumb.repo-breadcrumb a {
		color: #e7e7e7;
	}

	/* Last commit info */

	.info-well {
		background-color: #3f4353;
		border-color: #282b35;
		color: #e4e4e4;
	}

	.commit a, .commit button, .generic_commit_status a, .generic_commit_status button {
		color: #eeeeee;
	}

	.commit-sha-group .label-monospace {
		background-color: #3f4353;
		border-color: #1b1b1b;
		color: #e4e4e4;
	}

	.commit-sha-group .label, .commit-sha-group .shortcut-mappings .key, .shortcut-mappings .commit-sha-group .key, .commit-sha-group .btn {
		border-color: #1b1b1b;
	}

	/* File navigation */

	.table th, .file-holder table th, .wiki table th, .md table th, ul.notes > li .note-body .note-text table th, .table td, .file-holder table td, .wiki table td, .md table td, ul.notes > li .note-body .note-text table td {
		border-color: #404555;
	}

	table.table tr th, .file-holder table tr th, .wiki table tr th, .md table tr th, ul.notes > li .note-body .note-text table tr th {
		background-color: #3c4150;
	}

	.tree-holder .tree-table tr {
		border-color: #404555;
	}

	.tree-holder .tree-table tr:hover:not(.tree-truncated-warning) td {
		background-color: #313543;
		border-color: #1763bf;
	}

	table.table tr td, .file-holder table tr td, .wiki table tr td, .md table tr td, ul.notes > li .note-body .note-text table tr td {
		border-color: #404555;
	}

	.tree-holder .tree-item .tree-item-file-name i, .tree-holder .tree-item .tree-item-file-name a {
		color: #eeeeee;
	}

	.tree-holder .tree-commit .tree-commit-link {
		color: #c6c6c6;
	}

	.tree-holder .tree-time-ago {
		color: #c6c6c6;
	}

	/* Content of README */

	.file-holder {
		border-color: #292c36;
	}

	.file-holder .file-title {
		background-color: #3c4150;
		border-color: #292c36;
	}

	.file-holder .file-title a:not(.btn) {
		color: #f2f2f2;
	}

	.file-holder .file-content {
		background-color: #383c4a;
	}
	
	.wiki {
		color: #e4e4e4;
	}

	.wiki h1, .wiki h2, .wiki h3 {
		border-color: #292c36;
		color: #f5f5f5;
	}
	
	.wiki p {
		color: #e4e4e4;
	}

	.wiki a {
		color: #2596ff;
	}

	.wiki table {
		color: #e4e4e4;
	}

	.table-bordered > thead > tr > th, .wiki table > thead > tr > th, .md table > thead > tr > th, ul.notes > li .note-body .note-text table > thead > tr > th, .table-bordered > thead > tr > td, .wiki table > thead > tr > td, .md table > thead > tr > td, ul.notes > li .note-body .note-text table > thead > tr > td, .table-bordered > tbody > tr > th, .wiki table > tbody > tr > th, .md table > tbody > tr > th, ul.notes > li .note-body .note-text table > tbody > tr > th, .table-bordered > tbody > tr > td, .wiki table > tbody > tr > td, .md table > tbody > tr > td, ul.notes > li .note-body .note-text table > tbody > tr > td, .table-bordered > tfoot > tr > th, .wiki table > tfoot > tr > th, .md table > tfoot > tr > th, ul.notes > li .note-body .note-text table > tfoot > tr > th, .table-bordered > tfoot > tr > td, .wiki table > tfoot > tr > td, .md table > tfoot > tr > td, ul.notes > li .note-body .note-text table > tfoot > tr > td {
		border-color: #2f333f;
	}

	.table-bordered, .wiki table, .md table, ul.notes > li .note-body .note-text table {
		border-color: #2f333f;
	}

	/* ===== New issue ===== */

	.form-control, .search form {
		background-color: #313541;
		border-color: #1b1b1b;
		color: #e4e4e4;
	}

	.search form:hover, .file-finder-input:hover, .issuable-search-form:hover, .search-text-input:hover, .form-control:hover, .filtered-search-box:hover, .search form:hover {
		border-color: #4096ff;
	}

	.help-block {
		color: #c7c7c7;
	}

	a:hover, .participants-more .btn-link:hover, .user-list-more .btn-link:hover, a:focus {
		color: #34a0ff;
	}

	/* Description */

	.markdown-area {
		background-color: #313541;
	}

	.common-note-form .md-area {
		border-color: #282b35;
	}

	.md {
		color: #e4e4e4;
	}

	.md p {
		color: #e4e4e4;
	}

	.md h1, .md h2, .md h3, .md h4, .md h5, .md h6 {
		border-color: #292c36;
		color: #f5f5f5;
	}

	.note-textarea {
		color: #e4e4e4;
	}

	.nav-links {
		border-color: #282b35;
	}

	.nav-links li a {
		color: #cacaca;
	}

	.nav-links li.active a {
		color: #f2f2f2;
	}

		.nav-links li a:hover, .nav-links li .participants-more .btn-link:hover, .participants-more .nav-links li .btn-link:hover, .nav-links li .user-list-more .btn-link:hover, .user-list-more .nav-links li .btn-link:hover, .nav-links li a:active, .nav-links li a:focus {
			border-color: #2a66aa;
			color: #fff;
		}

	body.ui_indigo .nav-links li.active a {
		border-color: #4096ff;
	}

	.comment-toolbar {
		border-color: #282b35;
	}

	/* Dropdown toggle buttons (assignee, milestone etc.) */

	.dropdown-toggle-text.is-default {
		color: #cbcbcb;
	}

	.dropdown-menu li a, .dropdown-menu li button, .dropdown-menu li .menu-item, .dropdown-menu-nav li a, .dropdown-menu-nav li button, .dropdown-menu-nav li .menu-item {
		color: #cbcbcb;
	}

	.dropdown-input-field {
		color: #cbcbcb;
	}

	.dropdown-input-field:focus {
		color: #e4e4e4;
	}

	.pika-single {
		background-color: #383c4a;
		border-color: #1b1b1b;
		color: #e4e4e4;
	}

	.pika-single.gitlab-theme .pika-label {
		background-color: #383c4a;
		color: #e4e4e4;
	}

	.pika-single.gitlab-theme .pika-day {
		background-color: #383c4a;
		color: #cbcbcb;
	}

	.pika-single.gitlab-theme th {
		color: #b9b9b9;
	}

	abbr[title], abbr[data-original-title] {
		border-bottom: none;
	}

	.pika-single.gitlab-theme .is-selected .pika-day, .pika-single.gitlab-theme .pika-day:hover, .pika-single.gitlab-theme .is-today .pika-day {
		background-color: #3f4353;
	}

	.pika-prev, .pika-next {
		filter: invert(80%);
	}

	/* Footer */

	.row-content-block {
		background-color: #3f4353;
		border-color: #282b35;
	}

    .row-content-block.content-component-block {
        padding: 11px 0;
        background-color: #383c4a;
    }
    
	/* ===== List of issues ===== */

	.badge {
		color: #bfbfbf;
	}

	.nav-links li.active a .badge {
		color: #dfdfdf;
	}

	.nav-links li a:hover .badge, .nav-links li .participants-more .btn-link:hover .badge, .participants-more .nav-links li .btn-link:hover .badge, .nav-links li .user-list-more .btn-link:hover .badge, .user-list-more .nav-links li .btn-link:hover .badge, .nav-links li a:active .badge, .nav-links li a:focus .badge {
		color: #efefef;
	}

	.filtered-search-box {
		border-color: #1b1b1b;
		background-color: #313541;
	}

	ul.content-list li a {
		color: #eee;
	}

	ul.content-list li {
		color: #eee;
	}

	ul.content-list > li {
		border-color: #404555;
	}

	.filtered-search-history-dropdown-toggle-button:hover, .filtered-search-history-dropdown-toggle-button:focus {
		color: #fff;
	}

	.issuable-list li .issuable-milestone a, .issuable-list li .issuable-info a, .issuable-list li .task-status a, .issuable-list li .issuable-updated-at a {
		color: #e3e3e3;
	}

	.issuable-list li .issuable-milestone, .issuable-list li .issuable-info, .issuable-list li .task-status, .issuable-list li .issuable-updated-at {
		color: #cacaca;
	}

	.panel, .panel-slim {
		background-color: #383c4a;
	}

	.merge-request.closed, .issue.closed {
		background-color: #333744;
		border-color: #4c4c4c;
	}

	/* New issues */

	.merge-request.today, .issue.today {
		background-color: #2f3f41;
		border-color: #4c4c4c;
	}

	/* ===== List of issues (GitLab.com, EE 11.0) ===== */

	.nav-links li.active a .badge.badge-pill, .nav-links li.active a .shortcut-mappings .key, .shortcut-mappings .nav-links li.active a .key, .nav-links li a.active .badge.badge-pill, .nav-links li a.active .shortcut-mappings .key, .shortcut-mappings .nav-links li a.active .key {
		color: #dfdfdf;
	}

	.badge.badge-pill, .shortcut-mappings .key {
		color: #bfbfbf;
	}

	.nav-links li a:hover .badge.badge-pill, .nav-links li .participants-more .btn-link:hover .badge.badge-pill, .participants-more .nav-links li .btn-link:hover .badge.badge-pill, .nav-links li .user-list-more .btn-link:hover .badge.badge-pill, .user-list-more .nav-links li .btn-link:hover .badge.badge-pill, .nav-links li a:hover .shortcut-mappings .key, .shortcut-mappings .nav-links li a:hover .key, .nav-links li .participants-more .btn-link:hover .shortcut-mappings .key, .shortcut-mappings .nav-links li .participants-more .btn-link:hover .key, .participants-more .nav-links li .btn-link:hover .shortcut-mappings .key, .shortcut-mappings .participants-more .nav-links li .btn-link:hover .key, .nav-links li .user-list-more .btn-link:hover .shortcut-mappings .key, .shortcut-mappings .nav-links li .user-list-more .btn-link:hover .key, .user-list-more .nav-links li .btn-link:hover .shortcut-mappings .key, .shortcut-mappings .user-list-more .nav-links li .btn-link:hover .key, .nav-links li a:active .badge.badge-pill, .nav-links li a:active .shortcut-mappings .key, .shortcut-mappings .nav-links li a:active .key, .nav-links li a:focus .badge.badge-pill, .nav-links li a:focus .shortcut-mappings .key, .shortcut-mappings .nav-links li a:focus .key {
		color: #efefef;
	}

	body.ui-indigo .nav-links li.active a, body.ui-indigo .nav-links li a.active {
		border-color: #4096ff;
	}

	.card, .card-slim {
		background-color: #383c4a;
	}

	.select2-drop {
		background-color: #383c4a;
		color: #cbcbcb;
	}

	.select2-results .select2-highlighted {
		color: #e4e4e4;
	}

	.select2-results .select2-highlighted .select2-result-label {
		background: #474b5d;
	}

	.select2-drop, .select2-drop.select2-drop-above {
		border-color: #1b1b1b;
	}

	.select2-search input {
		background-color: #383c4a;
		border-color: #1b1b1b;
		color: #e4e4e4;
	}

	.dropdown-menu {
		color: #e4e4e4;
	}

	/* ===== Issue details ===== */

	/* Right sidebar */

	.right-sidebar {
		background-color: #3f4353;
		border-color: #1b1b1b;
	}

	.right-sidebar .block {
		border-color: #282b35;
	}

	.right-sidebar .title {
		color: #e3e3e3;
	}

	.right-sidebar.right-sidebar-expanded .gutter-toggle {
		border-color: #282b35;
	}

	.right-sidebar .block .gutter-toggle:hover {
		color: #fff;
	}

	.right-sidebar.right-sidebar-expanded .no-value, .right-sidebar.right-sidebar-expanded .btn-secondary-hover-link {
		color: #bebebe;
	}

	.right-sidebar .title .lock-edit, .right-sidebar .title .edit-link {
		color: #e2e2e2;
	}

	.right-sidebar .title .lock-edit:hover, .right-sidebar .title .edit-link:hover {
		color: #23baff;
	}

	.right-sidebar a:not(.btn):hover, .right-sidebar .participants-more .btn-link:not(.btn):hover, .participants-more .right-sidebar .btn-link:not(.btn):hover, .right-sidebar .user-list-more .btn-link:not(.btn):hover, .user-list-more .right-sidebar .btn-link:not(.btn):hover {
		color: #23baff;
	}

	.right-sidebar .cross-project-reference button {
		background-color: #3f4353;
	}

	.right-sidebar .btn-clipboard:hover {
		color: #fff;
	}

	/* Right sidebar (collapsed) */

	.right-sidebar .block .gutter-toggle:hover {
		background-color: #383b4a;
	}

	.right-sidebar.right-sidebar-collapsed .gutter-toggle {
		border-color: #313541;
	}

	.right-sidebar.right-sidebar-collapsed .block:hover {
		background-color: #383b4a;
	}

	.right-sidebar.right-sidebar-collapsed .sidebar-collapsed-icon:hover:not(.disabled), .right-sidebar.right-sidebar-collapsed .sidebar-collapsed-icon:hover .todo-undone {
		color: #eee;
	}

	.right-sidebar.right-sidebar-collapsed .sidebar-collapsed-icon {
		color: #bebebe;
	}

	.right-sidebar.right-sidebar-collapsed .sidebar-collapsed-icon svg {
		fill: #bebebe;
	}

	.right-sidebar.right-sidebar-collapsed .sidebar-collapsed-icon:hover:not(.disabled) svg, .right-sidebar.right-sidebar-collapsed .sidebar-collapsed-icon:hover .todo-undone svg {
		fill: #eee;
	}

	.right-sidebar.right-sidebar-collapsed .sidebar-collapsed-icon .btn-clipboard {
		color: #bebebe;
	}

	.right-sidebar.right-sidebar-collapsed .sidebar-collapsed-icon .btn-clipboard:hover {
		color: #eee;
	}

	.right-sidebar.right-sidebar-collapsed .participants {
		border-color: #313541;
	}

	/* Original post */

	.detail-page-header {
		border-color: #282b35;
		color: #e2e2e2;
	}

	.detail-page-header a {
		color: #e2e2e2;
	}

	.detail-page-description .title {
		color: #f5f5f5;
	}

	.panel-default {
		border-color: #282b35;
	}

	.panel-default > .panel-heading {
		background-color: #3f4353;
	}

	.panel-title {
		color: #e4e4e4;
	}

	.issue-count-badge-count {
		border-color: #1b1b1b;
	}

	.issuable-details .description img:not(.emoji) {
		border-color: #3c404f;
	}

	/* Quick actions */

	.referenced-commands {
		background-color: #373b4a;
		color: #e2e2e2;
	}

	.atwho-view {
		background-color: #373b4a;
		border-color: #282b35;
		color: #e4e4e4;
	}

	.atwho-view .atwho-view-ul li.cur {
		background-color: #474b5d;
		color: #e4e4e4;
	}

	.atwho-view .atwho-view-ul li strong {
		color: #fff;
	}

	.atwho-view small {
		color: #aaa;
	}

	.atwho-view .cur .avatar {
		border-color: #292c36;
	}

	/* Reaction block (under OP) */

	.content-block {
		border-bottom-color: #4c4c4c;
	}

	.award-control.user-authored {
		background-color: #3f4353;
		border-color: #1b1b1b;
		color: #e4e4e4;
	}

	.award-control.user-authored:hover {
		background-color: #474b5d;
		border-color: #1b1b1b;
		color: #e4e4e4;
	}

	.award-control.user-authored gl-emoji {
		filter: brightness(2);
	}

	/* Issue replies */

	.note-headline-light, .discussion-headline-light {
		color: #bababa;
	}

	.timeline-entry {
		background-color: #383c4a;
	}

	.discussion-header a, .note-header-info a {
		color: #e2e2e2;
	}

	.discussion-header a:hover, .discussion-header .participants-more .btn-link:hover, .participants-more .discussion-header .btn-link:hover, .discussion-header .user-list-more .btn-link:hover, .user-list-more .discussion-header .btn-link:hover, .note-header-info a:hover, .note-header-info .participants-more .btn-link:hover, .participants-more .note-header-info .btn-link:hover, .note-header-info .user-list-more .btn-link:hover, .user-list-more .note-header-info .btn-link:hover {
		color: #23baff;
	}

	ul.notes > li .note-body .note-text p {
		color: #e4e4e4;
	}

	ul.notes > li .note-body .note-text a {
		color: #2596ff;
	}

	ul.notes > li .timeline-entry-inner {
		border-color: #5f5f5f;
	}

	.note-type-dropdown .btn:hover:active, .note-type-dropdown .btn:focus:active {
		box-shadow: none;
	}

	.markdown-selector {
		color: #2596ff;
	}

	pre {
		border-color: #5f5f5f;
		background-color: #24272a;
		color: #e4e4e4;;
	}

	.timeline-entry:target, .timeline-entry.target {
		background-color: #35394a;
	}

	ul.notes > li:target, ul.notes > li.target {
		border-color: #292c36;
	}

	ul.notes > li:target:not(:first-child), ul.notes > li.target:not(:first-child) {
		border-color: #292c36;
	}

	ul.notes > li .note-body .note-text {
		color: #e4e4e4;
	}

	.md img:not(.emoji) {
		border-color: #3c404f;
	}

	.disabled-comment {
		background-color: #373b4a;
		border-color: #292c36;
		color: #cacaca;
	}

	.disabled-comment a {
		color: #2596ff;
	}

	.disabled-comment a:hover {
		color: #23baff;
	}

	/* ===== Issue details (GitLab.com, EE 11.0 ===== */

	.btn.btn-inverted.btn-success, .btn.btn-inverted.btn-new, .btn.btn-inverted.btn-create, .btn.btn-inverted.comment-btn, .btn.btn-inverted.btn-save {
		background-color: #158f46;
		border-color: #12753a;
		color: #fff;
	}

	.btn.btn-close, .btn.btn-close-color {
		background-color: #be6c00;
		border-color: #b56600;
		color: #fff;
	}

	.btn.disabled, .btn[disabled], fieldset[disabled] .btn, .dropdown-toggle[disabled], [disabled].dropdown-menu-toggle, .btn.disabled:hover, .btn[disabled]:hover, fieldset[disabled] .btn:hover, .dropdown-toggle[disabled]:hover, [disabled].dropdown-menu-toggle:hover {
		background-color: #464a5c !important;
		border-color: #1b1b1b !important;
		color: #878787 !important;
	}

	/* ===== Message for empty project ===== */

	.project-empty-note-panel {
		border-bottom-color: #4c4c4c;
	}

	/* ===== Command line instructions (appears when a new project is created ===== */

	.git-empty h5 {
		color: #eee;
	}

	.light-well, .description-block {
		background-color: #22242d;
	}

	pre.light-well, pre.description-block {
		border-color: #5f5f5f;
	}

	.git-empty .light-well, .git-empty .description-block {
		color: #ddd;
	}

	.btn.btn-inverted.btn-remove {
		background-color: #a32a17;
		color: #dadada;
		border-color: #a32a17;
	}

	/* ===== Import from GitHub ===== */

	.light, .description-block {
		color: #e2e2e2;
	}

	.table > thead > tr > td.active, .file-holder table > thead > tr > td.active, .wiki table > thead > tr > td.active, .md table > thead > tr > td.active, ul.notes > li .note-body .note-text table > thead > tr > td.active, .table > thead > tr > th.active, .file-holder table > thead > tr > th.active, .wiki table > thead > tr > th.active, .md table > thead > tr > th.active, ul.notes > li .note-body .note-text table > thead > tr > th.active, .table > thead > tr.active > td, .file-holder table > thead > tr.active > td, .wiki table > thead > tr.active > td, .md table > thead > tr.active > td, ul.notes > li .note-body .note-text table > thead > tr.active > td, .table > thead > tr.active > th, .file-holder table > thead > tr.active > th, .wiki table > thead > tr.active > th, .md table > thead > tr.active > th, ul.notes > li .note-body .note-text table > thead > tr.active > th, .table > tbody > tr > td.active, .file-holder table > tbody > tr > td.active, .wiki table > tbody > tr > td.active, .md table > tbody > tr > td.active, ul.notes > li .note-body .note-text table > tbody > tr > td.active, .table > tbody > tr > th.active, .file-holder table > tbody > tr > th.active, .wiki table > tbody > tr > th.active, .md table > tbody > tr > th.active, ul.notes > li .note-body .note-text table > tbody > tr > th.active, .table > tbody > tr.active > td, .file-holder table > tbody > tr.active > td, .wiki table > tbody > tr.active > td, .md table > tbody > tr.active > td, ul.notes > li .note-body .note-text table > tbody > tr.active > td, .table > tbody > tr.active > th, .file-holder table > tbody > tr.active > th, .wiki table > tbody > tr.active > th, .md table > tbody > tr.active > th, ul.notes > li .note-body .note-text table > tbody > tr.active > th, .table > tfoot > tr > td.active, .file-holder table > tfoot > tr > td.active, .wiki table > tfoot > tr > td.active, .md table > tfoot > tr > td.active, ul.notes > li .note-body .note-text table > tfoot > tr > td.active, .table > tfoot > tr > th.active, .file-holder table > tfoot > tr > th.active, .wiki table > tfoot > tr > th.active, .md table > tfoot > tr > th.active, ul.notes > li .note-body .note-text table > tfoot > tr > th.active, .table > tfoot > tr.active > td, .file-holder table > tfoot > tr.active > td, .wiki table > tfoot > tr.active > td, .md table > tfoot > tr.active > td, ul.notes > li .note-body .note-text table > tfoot > tr.active > td, .table > tfoot > tr.active > th, .file-holder table > tfoot > tr.active > th, .wiki table > tfoot > tr.active > th, .md table > tfoot > tr.active > th, ul.notes > li .note-body .note-text table > tfoot > tr.active > th {
		background-color: #393d4c;
	}

	/* ===== Project list ===== */

	.top-area, .wiki-page-header {
		border-color: #292c36;
	}

	.projects-list > li {
		border-color: #5f5f5f;
	}

	.gl-pagination {
		border-color: #5f5f5f;
	}

	.text-plain, .text-plain:hover {
		color: #f5f5f5;
	}

	.user-access-role {
		border-color: #525252;
		color: #aaa;
	}

	.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .participants-more .pagination > .disabled > .btn-link:hover, .user-list-more .pagination > .disabled > .btn-link:hover, .pagination > .disabled > a:focus {
		background-color: #464a5c;
		border-color: #1b1b1b;
		color: #878787;
	}

	.pagination > li > a, .pagination > li > span {
		background-color: #3f4353;
		border-color: #1b1b1b;
		color: #e4e4e4;
	}

	.pagination > li > a:hover, .participants-more .pagination > li > .btn-link:hover, .user-list-more .pagination > li > .btn-link:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
		background-color: #474b5d;
		border-color: #1b1b1b;
		color: #e4e4e4;
	}

	.pagination > li > a:hover:active, .participants-more .pagination > li > .btn-link:hover:active, .user-list-more .pagination > li > .btn-link:hover:active, .pagination > li > a:active:focus, .pagination > li > span:hover:active, .pagination > li > span:active:focus {
		box-shadow: inset 0 0 10px 10px rgba(0,0,0,.2);
	}

	/* ===== Activity ===== */

	.event-item {
		border-color: #5f5f5f;
	}

	.nav-block.activities {
		border-color: #292c36;
	}

	.event-item {
		color: #d3d3d3;
	}

	.event-item a {
		color: #f5f5f5;
	}

	.event-item .event-title {
		color: #f5f5f5;
	}

	/* Nav links (mobile) */

	.inner-page-scroll-tabs .fade-left {
		background: linear-gradient(to right, #383c4a 45%, rgba(56,60,74,0.4));
	}

	.inner-page-scroll-tabs .fade-right {
		background: linear-gradient(to left, #383c4a 45%, rgba(56,60,74,0.4));
	}

	/* ===== Commits ===== */

	.commit-header {
		background-color: #3e4352;
		border-color: #404555;
	}

	/* Commit description */

	.commit .commit-row-description, .generic_commit_status .commit-row-description {
		border-color: #6a6a6a;
		color: #aaa;
	}

	.commit .commit-row-description a, .generic_commit_status .commit-row-description a {
		color: #e7e7e7;
	}

	.text-expander {
		background-color: #383c4a;
		border-color: #424758;
		color: #dadada;
	}

	.text-expander.open {
		background-color: #444859;
	}

	.text-expander:hover {
		background-color: #4a4e61;
	}

	/* ===== Commit details ===== */

	.page-content-header .commit-committer-link, .page-content-header .commit-author-link {
		color: #f2f2f2;
	}

	.commit-box {
		border-color: #404555;
	}

	.commit-box .commit-title {
		color: #f5f5f5;
	}

	.cgray, .commit.inline-commit .committed_ago, .generic_commit_status.inline-commit .committed_ago {
		color: #e2e2e2;
	}

	.info-well .icon-container.commit-icon svg path {
		fill: #e2e2e2;
	}

	.diff-files-changed {
		background-color: #383c4a;
	}

	.diff-files-changed .commit-stat-summary {
		background-color: #383c4a;
	}

	.diff-file .file-title:hover, .diff-file .file-title-flex-parent:hover {
		background-color: #424657;
	}

	.diff-file .diff-content {
		background-color: #383c4a;
	}

	.nothing-here-block {
		color: #e2e2e2;
	}

	.form-control:focus, .common-note-form .md-area.is-focused, .search form:focus, .search.search-active form {
		background-color: #383c4a;
	}

	.btn:active, .btn.active {
		background-color: #595e74;
		border-color: #1b1b1b;
		color: #e4e4e4;
	}

	/* ===== Tags ===== */

	.branch-commit {
		color: #d3d3d3;
	}

	.branch-commit .commit-row-message {
		color: #d3d3d3;
	}

	.branch-commit .commit-sha, .branch-commit .gfm-commit, .branch-commit .gfm-commit_range {
		color: #2596ff;
	}

	/* ===== Edit tag ===== */

	.sub-header-block {
		background-color: #383c4a;
	}

	/* ===== File content ===== */

	.file-title-flex-parent {
		background-color: #3f4353;
		border-color: #1b1b1b;
	}

	.info-well .well-segment:not(:last-of-type) {
		border-color: #484c5f;
	}

	.file-title-flex-parent a {
		color: #e4e4e4;
	}

	/* ===== Image/video preview ===== */

	.file-holder .file-content.image_file, .file-holder .file-content.video {
		background-color: #323643;
	}

	/* ===== Blame ===== */

	.file-holder .file-blame-legend {
		background-color: #3f4353;
		border-color: #484c5f;
	}

	.file-holder .file-content.blame td.blame-commit {
		background-color: #3f4353;
	}

	.file-holder .file-content.blame td.blame-commit-age-8 {
		border-left-color: #4f5568;
	}

	.file-holder .file-content.blame td.blame-commit-age-9 {
		border-left-color: #464a53;
	}

	.file-holder .file-content.blame td.blame-commit-age-0 {
		border-left-color: #4096ff;
	}

	.file-holder .file-content.blame tr {
		border-bottom-color: #484c5f;
	}

	.file-holder .file-content.blame td.line-numbers {
		border-left-color: #484c5f;
	}

	/* ===== List of todos ===== */

	.todos-list > .todo:hover {
		background-color: #313543;
		border-color: #1763bf;
	}

	.todos-list > .todo:last-child:hover {
		border-color: #1763bf;
	}

	.todo-item .todo-body .todo-note .md p {
		color: #eee;
	}

	/* ===== List of labels ===== */

	.labels-container {
		background-color: #3F4353;
	}

	.manage-labels-list > li:not(.empty-message):not(.is-not-draggable) {
		background-color: #383c4a;
	}

	.label-actions-list .btn {
		background: none;
	}

	.label-list-item .label-action svg {
		fill: #d3d3d3;
	}

	.js-label-options-dropdown svg {
		filter: invert(80%);
	}

	.label-list-item .label-description a {
		color: #2596ff;
	}

	.label-list-item .label-description a:hover {
		color: #23baff;
	}

	.prioritized-labels .manage-labels-list > li:not(.empty-message):not(.is-not-draggable) {
		box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	}

	/* ===== New label ===== */

	.input-group-text {
		border-color: #1b1b1b;
	}

	.input-group .input-group-prepend, .input-group .input-group-append {
		background-color: #1b1b1b;
	}

	/* ===== Profile page ===== */

	.cover-block {
		background-color: #383c4a;
	}

	.cover-block .cover-title {
		color: #f5f5f5;
	}

	.cover-block .cover-desc {
		color: #f5f5f5;
	}

	/* Activity grid */

	.row-content-block.white {
		background-color: #383c4a;
	}

	.nav-links li.active a, .nav-links li a.active {
		color: #f2f2f2;
	}

	.row-content-block {
		color: #e2e2e2;
	}

	.user-contrib-text {
		fill: #b9b9b9;
	}

	/* ===== Settings ===== */

	.settings {
		border-color: #404555;
	}

	/* Repository Settings */

	.account-well {
		background-color: #3f4353;
		border-color: #282b35;
	}

	.select2-container .select2-choice, .select2-container.select2-drop-above .select2-choice {
		background-color: #383c4a;
		border-color: #1b1b1b;
		color: #e4e4e4;
	}

	.select2-container .select2-choice:hover, .select2-container.select2-drop-above .select2-choice:hover {
		border-color: #4096ff;
		color: #e4e4e4;
	}

	.card-body {
		background-color: #383c4a;
	}

	.settings-message {
		background-color: #7e4100;
		border-color: #a35a00;
		color: #fff;
	}

	/* General Settings */

	.project-visibility-setting, .project-feature-settings {
		border-color: #292c36;
	}

	.project-feature-settings {
		background-color: #383c4a;
	}

	.form-control:disabled, .search form:disabled, .form-control[readonly], .search form[readonly] {
		background-color: #464a5c;
		color: #878787;
	}

	.select2-container-multi .select2-choices {
		border-color: #1b1b1b;
	}

	.settings-content .sub-section {
		background-color: #3f4353;
		border-color: #282b35;
	}

	.input-group-text {
		background-color: #383c4a;
		border-color: #1b1b1b;
		color: #e4e4e4;
	}

	.bs-callout-info {
		background-color: #0f4071;
		border-color: #4096ff;
		color: #e7e7e7;
	}

	/* ===== Sign in page ===== */

	body.navless {
		background-color: #383c4a !important;
	}

	.navbar-empty {
		background-color: #383c4a;
		border-color: #404555;
	}

	.devise-layout-html body .footer-container, .devise-layout-html body hr.footer-fixed {
		background-color: #383c4a;
	}

	.login-page .brand-holder p {
		color: #e2e2e2;
	}

	.login-page .login-box, .login-page .omniauth-container {
		box-shadow: 0 0 0 1px #292c36;
	}

	.login-page .new-session-tabs li:not(.active) {
		background-color: #383c4a;
	}

	.login-page .new-session-tabs {
		box-shadow: 0 0 0 1px #292c36;
	}

	.login-page .new-session-tabs li {
		border-color: #292c36;
	}

	.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
		background-color: #404454;
		color: #f5f5f5;
	}

	.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
		border-color: #2a66aa;
	}

	.login-page .form-control:active, .login-page .search form:active, .search .login-page form:active, .login-page .form-control:focus, .login-page .common-note-form .md-area.is-focused, .common-note-form .login-page .md-area.is-focused, .login-page .search form:focus, .search .login-page form:focus, .login-page .search.search-active form, .search.search-active .login-page form {
		background-color: #313541;
	}

	.form-control:focus, .common-note-form .md-area.is-focused, .search form:focus, .search.search-active form {
		color: #e4e4e4;
	}

	.gl-show-field-errors .gl-field-hint {
		color: #d3d3d3;;
	}

	/* ===== Authorize external website/application ===== */

	.modal-content {
		background-color: #383c4a;
	}

	.modal-header {
		background-color: #383c4a;
		border-color: #404555;
	}

	.modal-body {
		background-color: #383c4a;
	}

	.form-actions {
		background-color: #383c4a;
		border-color: #404555;
	}

	.modal-doorkeepr-auth .scope-description, .doorkeeper-app-form .scope-description {
		color: #d3d3d3;
	}

	/* ===== about.gitlab.com ===== */

	/* Features */

	.steps {
		background-color: #383c4a;
	}

	.steps a {
		color: #2596ff;
	}

	.steps a:hover {
		border-bottom-color: #2596ff;
	}

	.steps .step {
		border-color: #292c36;
	}
}
